%header
  %nav.navbar.navbar-expand.navbar-dark.bg-dark
    .container
      = link_to("sample app", root_path, id: "logo", class: "navbar-brand")
      %button.navbar-toggler{ "data-target" => "#header-navbar",
                              "data-toggle" => "collapse",
                              type: "button" }
        %span.navbar-toggler-icon
      .navbar-collapse.collapse.justify-content-stretch#header-navbar
        %ul.navbar-nav.ml-auto
          %li.nav-item= link_to("Home", root_path, class: "nav-link")
          %li.nav-item= link_to("Help", help_path, class: "nav-link")
          - if logged_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#d01{ "aria-expanded" => "false",
                                               "aria-haspopup" => "true",
                                               "data-toggle" => "dropdown",
                                               href: "#" } Account
              .dropdown-menu{ "aria-labelledby" => "d01" }
                = link_to("Profile", current_user, class: "dropdown-item")
                = link_to("Settings", "#", class: "dropdown-item")
                .dropdown-divider
                = link_to("Log out",
                          logout_path,
                          method: :delete,
                          class: "dropdown-item")
          - else
            %li.nav-item= link_to("Log in", login_path, class: "nav-link")
